services:
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      AUTH_SERVICE_URL: http://auth-service:8081
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:
    external: true
    name: healthsys-internal

