services:
  triagem-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: triagem-service
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://triagem-service-db:5432/db
      SPRING_DATASOURCE_USERNAME: {SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: {SPRING_DATASOURCE_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
    depends_on:
      - triagem-service-db
    networks:
      - internal
    restart: unless-stopped

  triagem-service-db:
    image: postgres:latest
    container_name: triagem-service-db
    environment:
      POSTGRES_USER: {POSTGRES_USER}
      POSTGRES_PASSWORD: {POSTGRES_PASSWORD}
      POSTGRES_DB: db
    ports:
      - "5003:5432"
    volumes:
      - triagem-service-db-data:/var/lib/postgresql
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:
    external: true
    name: healthsys-internal

volumes:
  triagem-service-db-data:


